---
import NavBar from "@/components/NavBar.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Education</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
        </head>
    <body class="bg-darkBackground text-white min-h-screen mt-16">
        <!-- NavBar -->
        <NavBar />
    <body />
<html />