---
import NavBar from "../components/NavBar.astro";
import FeaturedSection from "../components/FeaturedSection.astro";
import Footer from "../components/Footer.astro";
import TwoColumnSection from "../components/TwoColumnSection.astro";
import PresidentsCarousel from '../components/PresidentsCarousel.astro';
import Hero from '../components/Hero.astro';
import Newspaper from '../components/Newspaper.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Egypt At War</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body class="bg-background text-white">
    <NavBar />
    <main class="min-h-screen">
      <Hero />
    </main>
    <PresidentsCarousel />
    <FeaturedSection />
    <TwoColumnSection
        title="Unraveling the Consequences of Camp David's"
        description="Egypt's Struggle: From Nasser to Sisi, a Turbulent Narrative of Economic, Military, and Social Upheaval in the Wake of the Camp David Accords. Dive into the dark underbelly of this contentious agreement and its far-reaching impacts."
        buttonText="Take Action: Demand Change"
        secondaryTitle="The Burden of Compromise"
        secondaryDescription="Navigating the Alternatives: How the Camp David Accords Have Reshaped Egypt's Landscape"
        imageSrc="/egypt-map.png" />

        <Newspaper />
    <Footer />
  </body>
</html>
